<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="a88d0945-f6e7-4598-9e47-a7efd6a34741" Publisher="CN=desar" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SimpleWeather</DisplayName>
    <PublisherDisplayName>desar</PublisherDisplayName>
    <Logo>Assets\50Icon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SimpleWeather.App">
      <m2:VisualElements DisplayName="SimpleWeather" Square150x150Logo="Assets\150Icon.png" Square30x30Logo="Assets\30Icon.png" Description="SimpleWeather" ForegroundText="light" BackgroundColor="#E81123">
        <m2:DefaultTile ShortName="SimpleWeather" Square310x310Logo="Assets\310Icon.png" Wide310x150Logo="Assets\310largeIcon.png" DefaultSize="wide310x150Logo" Square70x70Logo="Assets\70Icon.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\620largeIcon.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>